/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

/*asterisk wildcard selector*/
* {
  padding: 0;
  margin: 0;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Kalam', cursive, sans-serif;
}




/*heade*/
header {
    background-color: rgb(9, 105, 16, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
}

.header a {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: darkgreen;
   
}

.navbar a {
    text-decoration: none;
    color: darkgreen;
}

ul li {
    display: inline-block;
    margin-left: 6.2%; 
}

.active {
    border-top: 3px solid darkgreen;
}


/*main content */
main {
    background-color: black;
    flex: 1 0 auto;
    background-image: url(/assets/images/Optimized-Tyson.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.part1 h2 {
    background-color:  rgb(9, 105, 16, 0.3);
    font-size: 18px;
    width: 30%;
    position: relative;
    top: 100px;
    left: 10px;
    padding: 15px;
}

.active2 p:hover {
    
}




/*footer*/
    #social-networks {
        background-color: rgb(9, 105, 16, 0.5);
        text-align: center;
        padding: 20px 0;
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
    }
    
    #social-networks i {
        font-size: 160%;
        padding: 5%;
        color: #3a3a3a;
    }

    #social-networks .fa-facebook {
        color: blue;
    }

    #social-networks .fa-twitter-square {
        color: lightskyblue;
    }

    #social-networks .fa-youtube-square {
        color: red;
    }

    #social-networks .fa-instagram {
        color: purple;
    }


/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

        /*Header*/
        .header {
            font-size: 20px;
            position: relative;
            right: 215px;
            top: 15px;
        }

        .navbar a {
            position: relative;
            left: 335px;
            bottom: 25px;
        }
}




