/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

/*asterisk wildcard selector*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Kalam', cursive, sans-serif;
    padding-top: 106px;
    padding-bottom: 80px;
}

/*heade*/
header {
    background-color: rgb(9, 105, 16, 0.5);
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}


/*main content */
main {
    flex: 1 0 auto;
}

.section1 {
    background-image: url(assets/images/main\ 2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 400px;
    width: 100%;
}



.section1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.part1 {
    background-color: rgb(9, 105, 16, 0.3);
    font-size: small;
    padding: 5px;
}


.part2 {
    display: flex;
    background-color: rgb(9, 105, 16, 0.3);
    padding: 10px;
    text-align: justify;
}

.section2 {
    display: flex;
    flex-direction: column;
    background-image: url(../images/20221209_062116.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 400px;
    width: 100%;
}

.section2 h2 {
    display: flex;
    flex-direction: column;
    background-color: rgb(9, 105, 16, 0.3);
    align-items: center;
    justify-self: center;
}

.part3 {
    background-color: rgb(9, 105, 16, 0.3);
    text-align: justify;
    padding: 10px;
}

.part1:hover {
    color: aliceblue;
    background-color: none;
}

.section2 h2:hover {
    color: aliceblue;
    background-color: none;

}

.tysons-life {
    display: flex;
    flex-direction: column;
    color:  rgb(9, 105, 16);
    text-align: justify;
    padding: 9px;
}

.page2 h2 {
    background-color: rgb(9, 105, 16, 0.3);
    display: flex;
    justify-content: center;
}

.page2 img {
    height: 100px;
    padding-left: 5px;
}

.active {
    border-top: 3px solid darkgreen;
}

.menu a:hover {
    background-color: darkgreen;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
}

.header h1:hover {
    background-color: darkgreen;
    color: white;
    border-radius: 13px;
    transition: 0.5s;
    transform: rotate(360deg);

}

.page2 h2:hover {
    color: aliceblue;
}

.page2 img:hover {
    height: 290px;
    cursor: pointer;
}
.span1:hover {
    color: red;
}

.span2:hover {
    color: blue;
}

.span3:hover {
    color: rgb(218, 15, 218);
}

.span4:hover {
    color: rgb(9, 213, 23);
}

.photos img {
    width: 100%;
}

.photo1:hover {
    border-radius: 80px;
}

/* Form */
#walkies {
    background-image: url(../images/walkies.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.walkies-form {
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

.meeting-location {
    color: white;
    padding: 50px;
    margin-top: 5em;
}



.meet-tyson{
    color:  white;
    padding: 30px;
}


.meet-tyson h2 {
    color: #fafafa;
    margin-bottom: 20px;
}


.text-input {
    background: transparent;
    color:  rgb(9, 105, 16, 0.3);
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 2px solid #111111;
    border-radius: 2px;
    padding: 0 5px;
}

.join-button {
    margin-top: 20px;
    border-radius: 30px;
    padding: 15px 32px;
    font-size: 100%;
    background-color:  rgb(9, 105, 16, 0.3);
    color: white;
}


/*footer*/
#social-networks {
    background-color: rgb(9, 105, 16, 0.5);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 25px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 999;
}

#social-networks i {
    font-size: 160%;
    color: #3a3a3a;
    
    
}

#social-networks .fa-facebook {
    color: blue;
}

#social-networks .fa-twitter-square {
    color: lightskyblue;
}

#social-networks .fa-youtube-square {
    color: red;
}

#social-networks .fa-instagram {
    color: purple;
}

#social-networks .fa-facebook:hover {
    cursor: pointer;
    font-size: 300%;
    transition: 0.5s;
    transform: rotate(360deg);
}

#social-networks .fa-twitter-square:hover {
    cursor: pointer;
    font-size: 300%;
    transition: 0.5s;
    transform: rotate(360deg);
}

#social-networks .fa-youtube-square:hover {
    cursor: pointer;
    font-size: 300%;
    transition: 0.5s;
    transform: rotate(360deg);
}

#social-networks .fa-instagram:hover {
    cursor: pointer;
    font-size: 300%;
    transition: 0.5s;
    transform: rotate(360deg);
    transition-timing-function: ease-in-out;
}

@media screen and (min-width: 768px) { 


    body {
        padding-top: 104px;
    }
    .menu {
        font-size: 20px;
        padding: 0 39px;   
    }
    
    .section1 {
        height: 600px;
    }

    .section2 {
        height: 600px;
    }

    .part1 {
        display: flex;
        justify-content: center;
    }

    .photos {
        column-count: 4;
    }

    .photo1:hover {
        height: 290px;
        cursor: pointer;
        border-radius: 80px;
    }
}

/* Media query: tablets and larger (992px and up) */
@media screen and (min-width: 992px) { 

    body {
        padding-top: 125px;
    }

    .header h1 {
        font-size: 40px;
        width: 100%;  
    }

    .menu {
        font-size: 25px;
        padding: 0 39px;   
    }

    .part1 {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) { 
    
    body {
        padding-top: 141px;
        padding-bottom: 80px;
    }

    .menu {
        font-size: 25px;
    }
    
    .header h1 {
        font-size: 50px;
         
    }

    .part1 h1 {
        font-size: 25px;
    }

    .section1 {
        height: 700px;
    }

    .part2 {
        font-size: 25px;
    }
    
    .section2 h2 {
        font-size: 25px;
    }

    .section2 {
        height: 700px;
    }

    .part3 {
        font-size: 25px;
    }

    .photo1{
        height: 450px;
    }

    .photo1:hover {
        border-radius: 10px;
        height: 500px;
    }

    #social-networks i {
        font-size: 25px;
    }
}
@media screen and (min-width: 1441px) {
    body {
        padding-top: 196px;
        padding-bottom: 103px;
    }

    .menu {
        font-size: 40px;
    }
    
    .header h1 {
        font-size: 70px;
         
    }

    .part1 h1 {
        font-size: 40px;
    }

    .section1 {
        height: 700px;
    }

    .part2 {
        font-size: 30px;
    }
    
    .section2 h2 {
        font-size: 40px;
    }

    .section2 {
        height: 700px;
    }

    .part3 {
        font-size: 30px;
    }

    .photo1{
        height: 700px;
    }

    .photo1:hover {
        border-radius: 10px;
        height: 800px;
    }

    #social-networks i {
        font-size: 50px;
    }
}
}