/*Google Font*/
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

/*asterisk wildcard selector*/
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Philosopher', sans-serif;
}

/*heade*/
header {
    background-color: rgba(34, 77, 37, 0.5);
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-size: 20px;
}

.header a{
    color: darkgreen;

}

.header h1 span {
    display: flex;
    justify-content: center;
    font-size: 14px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}
 .menu a {
    color: black;
 }


/*main content */
main {
    flex: 1 0 auto;
}

.section1 {
    background-image: url(../images/main\ 2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 400px;
    width: 100%;
}

.flexbox {
    display: flex;
   flex-direction: column;
}


.section1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.part1 {
    font-size: small;
    padding: 5px;
}

.part1 h2 {
    padding: 0 5px;
}


.part2 {
    display: flex;
    background-color: rgba(34, 77, 37, 0.5);
    padding: 20px;
    text-align: justify;
}

.section2 {
    display: flex;
    flex-direction: column;
    background-image: url(../images/20221209_062116.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    height: 400px;
    width: 100%;
}

.part3 {
    background-color: rgb(9, 105, 16, 0.3);
    text-align: justify;
    padding: 20px;
}
.header h1:hover{
    cursor: pointer;
    font-size: 300%;
    transition: 0.5s;
    transform: rotate(720deg);
}
.part1:hover {
    color: aliceblue;
}

.section2 h2:hover {
    color: aliceblue;
}

.tysons-life {
    display: flex;
    flex-direction: column;
    color: rgb(9, 105, 16);
    text-align: justify;
    padding: 9px;
}

.page2 h2 {
    background-color: rgb(9, 105, 16, 0.3);
    display: flex;
    justify-content: center;

}

.page2 img {
    height: 100px;
    padding-left: 5px;
}

.active {
    border-top: 3px solid darkgreen;
}

.menu a:hover {
    background-color: darkgreen;
    color: white;
    border-radius: 5px;
    transition: 0.5s;
}

.page2 h2:hover {
    color: aliceblue;
}

.page2 img:hover {
    height: 290px;
    cursor: pointer;
}

.photos img {
    width: 100%;
    height: 400px;
}

.photo1:hover {
    border-radius: 120px;
}

/* Form */
#walkies {
    background-image: url(../images/walkies.JPG);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}


.walkies-form {
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

.meeting-location {
    color: white;
    padding: 50px;
    margin-top: 5em;
}



.meet-tyson {
    color: white;
    padding: 30px;
}


.meet-tyson h2 {
    color: #fafafa;
    margin-bottom: 20px;
}


.text-input {
    background: transparent;
    color: rgb(9, 105, 16, 0.3);
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 2px solid #111111;
    border-radius: 2px;
    padding: 0 5px;
}

.join-button {
    margin-top: 20px;
    border-radius: 30px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: rgb(9, 105, 16, 0.3);
    color: white;
}


/*footer*/
#social-networks {
    background-color: rgb(9, 105, 16, 0.5);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 25px 0;
    width: 100%;

}

#social-networks i {
    font-size: 160%;
    color: #3a3a3a;


}

#social-networks .fa-facebook {
    color: blue;
}

#social-networks .fa-twitter-square {
    color: lightskyblue;
}

#social-networks .fa-youtube-square {
    color: red;
}

#social-networks .fa-instagram {
    color: purple;
}

#social-networks .fa-facebook:hover {
    cursor: pointer;
    font-size: 300%;
    transition: 0.5s;
    transform: rotate(360deg);
}

#social-networks .fa-twitter-square:hover {
    cursor: pointer;
    font-size: 300%;
    transition: 0.5s;
    transform: rotate(360deg);
}

#social-networks .fa-youtube-square:hover {
    cursor: pointer;
    font-size: 300%;
    transition: 0.5s;
    transform: rotate(360deg);
}

#social-networks .fa-instagram:hover {
    cursor: pointer;
    font-size: 300%;
    transition: 0.5s;
    transform: rotate(360deg);
}

@media screen and (min-width: 768px) {

    
    

    .menu {
        font-size: 20px;
        padding: 0 39px;
    }

    .section1 {
        height: 600px;
    }

    .section2 {
        height: 600px;
    }

    .part1 {
        display: flex;
        justify-content: center;
    }

    .photos {
        column-count: 4;
        width: 100%;
    
    }

    .photo1:hover {
        height: 400px;
        cursor: pointer;
        border-radius: 80px;
    }
}

/* Media query: tablets and larger (992px and up) */
@media screen and (min-width: 992px) {



    .header h1 {
        font-size: 40px;
        width: 100%;
    }

    .menu {
        font-size: 25px;
        padding: 0 39px;
    }

    .part1 {
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) {



    .menu {
        font-size: 25px;
    }

    .header h1 {
        font-size: 50px;

    }

    .part1 h2 {
        font-size: 25px;
    }

    .section1 {
        height: 700px;
    }

    .part2 {
        font-size: 25px;
    }

    .section2 h2 {
        font-size: 25px;
    }

    .section2 {
        height: 700px;
    }

    .part3 {
        font-size: 25px;
    }

    .photo1 {
        height: 450px;
    }

    .photo1:hover {
        border-radius: 10px;
        height: 400px;
    }

    #social-networks i {
        font-size: 25px;
    }
}

@media screen and (min-width: 1441px) {

    .menu {
        font-size: 25px;
    }

    .header h1 {
        font-size: 40px;

    }

    .part1 h2 {
        font-size: 25px;
    }

    .section1 {
        height: 750px;
    }

    .part2 {
        font-size: 20px;
    }

    .section2 h2 {
        font-size: 25px;
    }

    .section2 {
        height: 800px;
    }

    .part3 {
        font-size: 20px;
    }

    .photo1 {
        height: 700px;
    }

    .photo1:hover {
        border-radius: 10px;
        height: 500px;
    }

    #social-networks i {
        font-size: 25px;
    }
}